body{
    background-color: #3274d6;
}
form
{
    margin-top: -58px;
}
.sign{
    height: 480px;
    width: 440px;
    background-color:white;
    margin: 150px auto;
    border-radius: 15px;
}

.pic {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.sign form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
}

.sign form input[type="submit"] {
    width: 130px;
    padding: 15px;
    margin-top: 145px;
    margin-right: 100px;
    margin-left: 0px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 5px;
}
.sign form input[type="email"]{
    width: 300px;
    height: 34px;
    margin-bottom: 15px;
    font-size: 0.5cm;
    text-align: center;
}
.picture {
    width: 250px;
    height: 200px;
}

.button1{
    background-color: #3274d6;
    width: 140px;
    text-align: center;
    height: 48px;
    border-radius: 15px;
    position: absolute;
    border: 1px;
    margin-right: 10px;
}
h3{
    margin-bottom: 30px;
}